#map {
    height: 500px;
    width: 800px;
}

.main-content {
    width: 800px;
    margin: auto;
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
}

.grabLocation {
    display:inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    color:white;
    background-color:#3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    border: none;
    text-align: center;
}

.grabLocation:hover{
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
}

.reviews-heading {
    font-size: 24px;
    margin-top: 20px;
}

.reviews {
    padding-left: 10px;
    padding-right: 10px;
}

.review {
    padding: 20px;
}

.review:not(:last-child) {
    border-bottom: 2px solid darkgrey;
}

.ratings {
    display: flex;
    font-size: 20px;
    margin-bottom: 6px;
}

.criteria {
    margin-right: 8px;
    font-weight: bold;
}

.rating {
    margin-right: 24px;
    line-height: 20px;
    color: gold;
}

.description {
    font-size: 18px;
}

.comment {
    margin-top: 10px;
}