#map {
    height: 500px;
    width: 800px;
}

.entire-page {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
}

p, h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    background-color: royalblue;
    height: 60px;
    color: #f0f0f0;
}

.title {
    font-size: 32px;
}

.addListener {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}

.addListener:hover{
    color:#000000;
    background-color:#FFFFFF;
}